# Stack identity
STACK_PREFIX=gallery1

# App exposure
PUBLIC_PORT=2283
TIMEZONE=America/Toronto

# Tailscale
TAILSCALE_AUTHKEY=tailnet-XXXXXXXXXXXXXXXX
TS_USERSPACE=false
TS_EXTRA_ARGS=--reset

# Immich version
IMMICH_VERSION=release

# Immich storage
UPLOAD_LOCATION=//share/docker/gallery1/library
IMPORT_LOCATION=//share/docker/gallery1/import

MODEL_CACHE_LOCATION=//share/docker/gallery1/model-cache
DB_DATA_LOCATION=//share/docker/gallery1/postgres

# Database
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_DATABASE_NAME=immich